# ─── Configurações do Django ──────────────────────────────────────────────────
# Gere uma chave em: https://djecrety.ir/
SECRET_KEY=sua_chave_secreta_aqui

# False em produção, True apenas para desenvolvimento
DEBUG=False
